@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		&,
		&.light-mode {
			--background-app-rgb: 249, 250, 251;
			--color-primary-900: 49, 62, 51;
			--color-primary-800: 98, 108, 127;
			--color-primary-200: 246, 231, 255;
			--color-primary-100: 167, 41, 245;
			--color-success: 38, 215, 130;
			--color-error: 238, 84, 84;
		}
		&.dark-mode {
			--background-app-rgb: 20, 20, 20;
			--color-primary-900: 255, 255, 255;
			--color-primary-800: 171, 193, 225;
		}
	}
}

.rti--container {
	background-color: rgb(var(--color-secondary-100));
	--rti-radius: 0.375rem;
	--rti-s: 0.5rem;
	--rti-tag: #edf2f7;
	--rti-tag-remove: #e53e3e;
	border: none;
}
.rti--container .rti--input {
	background-color: rgb(var(--color-secondary-200));
	color: rgb(var(--color-secondary-800));
	padding: 0.3rem 1rem;
	border-radius: 0.5rem;
}

.rti--tag {
	background-color: rgb(var(--color-secondary-500));
	color: rgb(var(--color-secondary-100));
}

@layer components {
	.spinner {
		margin: 3.2rem auto 1.6rem;
		width: 60px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 8px solid rgb(var(--color-primary-900));
		border-right-color: rgb(var(--color-primary-200));
		animation: rotate 1s infinite linear;
	}

	.spinner-mini {
		margin: 0 auto;
		width: 20px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 2px solid rgb(var(--color-primary-900));
		border-right-color: transparent;
		animation: rotate 1s infinite linear;
	}

	@keyframes rotate {
		to {
			transform: rotate(1turn);
		}
	}
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* border: none; */
	outline: none;
	padding: 0;
	margin: 0;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-rubik);
	min-height: 100vh;
	user-select: none;
	background-color: rgb(var(--background-app-rgb));
}
